<div class="card">
    <div class="card-header">
        <h1>To Do App</h1>
        <form action="/user/logout?_method=DELETE" method="POST">
            <button class="btn btn-add btn-logout">
                Logout
            </button>
        </form>
    </div>
    <div class="card-body">
        <form action="/todos" method="POST" class="my-form">
            <input type="text" id="todo" name="todo" title="todo">
            <button class="btn btn-add" type="submit">Add</button>
        </form>
        <div class="card-body-cols">
            <div class="card-body-col-left">
                <h2>To do</h2>
                <ol class="card-body-to-do-list">
                    <% todosToDo.forEach(todo => { %>
                        <li class="todo-row todo-row-todo">
                            <%= todo.text %> 
                            <form action="/todos/<%= todo.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-delete icon" type="submit">&times;</button>
                            </form>
                            <form action="/todos/<%= todo.id %>?_method=PUT" method="POST">
                                <button class="btn btn-done icon" type="submit">&#10003;</button>
                            </form>
                        </li>
                    <% }) %>
                </ol>
            </div>
            <div class="card-body-col-right">
                <h2>Done</h2>
                <ol class="card-body-to-do-list">
                    <% todosDone.forEach(todo => { %>
                        <li class="todo-row todo-row-done">
                            <%= todo.text %> 
                            <form action="/todos/<%= todo.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-delete icon" type="submit">&times;</button>
                            </form>
                        </li>
                    <% }) %>
                </ol>
            </div>
        </div>
    </div>
</div>
